In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read dataset into a dataframe
df = pd.read_csv('eda_data.csv')

In [3]:
# TODOs
# Choosing the right columns
# Get dummy data
# Train test split
# Multiple linear regression
# Lasso regression
# Random forest
# Tune models GridsearchCV
# Test ensembles

In [4]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_length',
       'num_competitor'],
      dtype='object')

In [5]:
# Choosing the right columns
df_model = df[['avg_salary','Rating', 'Size', 'Type of ownership', 'Industry','Sector', 'Revenue','num_competitor','hourly','employer_provided',
            'job_state', 'same_state','age','python_yn','spark','aws','excel','job_simp','seniority','desc_length']]

In [6]:
# Choosing the right columns
df_dum = pd.get_dummies(df_model)

In [8]:
df_dum.head(5)

,avg_salary,Rating,num_competitor,hourly,employer_provided,same_state,age,python_yn,spark,aws,...,job_simp_analytics,job_simp_data engineer,job_simp_data scientist,job_simp_director,job_simp_manager,job_simp_mle,job_simp_na,seniority_junior,seniority_na,seniority_senior
0,72.0,3.8,0,0,0,0,47,1,0,0,...,0,0,1,0,0,0,0,0,1,0
1,87.5,3.4,0,0,0,0,36,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2,85.0,4.8,0,0,0,1,10,1,1,0,...,0,0,1,0,0,0,0,0,1,0
3,76.5,3.8,3,0,0,1,55,1,0,0,...,0,0,1,0,0,0,0,0,1,0
4,114.5,2.9,3,0,0,1,22,1,0,0,...,0,0,1,0,0,0,0,0,1,0